<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>  Maël Kubli's CV |  CV</title>
  <link href="media/kjhealy-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/kjhealy-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    <h1 id="mael-kubli">Maël Kubli</h1>
<p>Student & Research Assistant.</p>

<div id="webaddress">
<a href="mael.kubli@ipz.uzh.ch.org">mael.kubli@ipz.uzh.ch</a>
</div>

<h2 id="currently">Currently</h2>

<p><code class="highlighter-rouge">Feb 2018 - now</code>
<strong>Research Assistant at the Departement of Political Sciense at the University of Zurich</strong></p>

<h3 id="specialized-in">Specialized in</h3>

<p>R-Programming, H2O.ai, Github, Elastic</p>

<h3 id="research-interests">Research interests</h3>

<p>Data Mining, Text Analysis, Machine Learning, Survey Research</p>

<h2 id="education">Education</h2>

<p><code class="highlighter-rouge">2004-2010</code>
<strong>Freies Gymnasium Zürich</strong></p>

<p><code class="highlighter-rouge">2010 - 2011</code>
<strong>Started Information Technology and Electrical Engineering at the Federal Institute of Technology Zurich</strong></p>

<p><code class="highlighter-rouge">2011 - 2013</code>
<strong>Started Chemical Engineering at the Federal Institute of Technology Zurich</strong></p>

      
<h2 id="occupation">Occupation</h2>

<p><code class="highlighter-rouge">2014</code>
<strong>Bouygues Move and Logistics</strong>, London</p>
      
<p><code class="highlighter-rouge">2015-2016</code>
<strong>Bouygues Move and Logistics</strong>, London</p>

<!-- ### Footer

Last updated: May 2013 -->


    </div>
  </div>
</body>
</html>
