<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>  Maël Kubli's CV |  CV</title>
  <link href="media/kjhealy-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/kjhealy-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    <h1 id="mael-kubli">Maël Kubli</h1>
<p>Assistant</p>

<div id="webaddress">
<a href="mael.kubli@ipz.uzh.ch.org">mael.kubli@ipz.uzh.ch</a>
</div>

<h2 id="currently">Currently</h2>

<p><code class="highlighter-rouge">Aug 2019 - now</code>
<strong>Assistant at the Departement of Political Science at the University of Zurich</strong></p>

<h3 id="specialized-in">Specialized in</h3>

<p>R-Programming, H2O.ai, Github, Elastic</p>

<h3 id="research-interests">Research interests</h3>

<p>Big Data, Data Mining, Text Analysis, Machine Learning, Survey Research, Visualization</p>

<h2 id="education">Education</h2>
<p><code class="highlighter-rouge">2017 - 2019</code>
<strong>Master of Political Science at the University of Zurich</strong></p>    

<p><code class="highlighter-rouge">2014 - 2017</code>
<strong>Bachelor of Political Science at the University of Zurich with a minor in Earth System Science</strong></p>
      
<p><code class="highlighter-rouge">2011 - 2013</code>
<strong>Started Chemical Engineering at the Federal Institute of Technology Zurich</strong></p>

<p><code class="highlighter-rouge">2010 - 2011</code>
<strong>Started Information Technology and Electrical Engineering at the Federal Institute of Technology Zurich</strong></p>

<p><code class="highlighter-rouge">2004-2010</code>
<strong>Freies Gymnasium Zürich</strong></p>

<h2 id="publications">Publications</h2>
      
<h3 id="journals">Github</h3>

<p><code class="highlighter-rouge">2017-now</code>
<a href="https://github.com/MaelKubli">My GitHub Account</a></p>
      
<h3 id="journals">Blogposts</h3>

<p><code class="highlighter-rouge">2019-2020</code>
<a href="https://digdemlab.io/">Co-Author of the DigDemLab blog posts and other things</a></p>

<p><code class="highlighter-rouge">2018</code>
<a href="http://pwiweb.uzh.ch/wordpress/?p=13233">Was die Nationalität über die Wohnungsgrösse aussagt</a></p>

<p><code class="highlighter-rouge">2018</code>
<a href="http://pwiweb.uzh.ch/wordpress/?p=15160">Parteien und Verbände: Wer ist sich am ähnlichsten?</a></p>

<h2 id="occupation">Occupation</h2>
      
<p><code class="highlighter-rouge">Feb 2018 - Jul 2019</code>
<strong>Research Assistant at the Departement of Political Science at the University of Zurich</strong></p>
      
<p><code class="highlighter-rouge">2015-2016</code>
<strong>Bouygues Move and Logistics (Part time during bachelor's degree)</strong>, Zurich</p>
      
<p><code class="highlighter-rouge">2014</code>
<strong>Bouygues Move and Logistics</strong>, Zurich</p>


<!-- ### Footer
Last updated: Feb 2019 -->


    </div>
  </div>
</body>
</html>
